name: Trading Bot Scheduler

on:
  workflow_dispatch:
  schedule:
    - cron: '45 3 * * 1-5'   # 09:15 AM IST

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install smartapi-python logzero websocket-client pyotp pytz gspread oauth2client

      - name: Run trading bot
        run: python bot.py
